<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Menu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink='/punto1'>Libros Destacados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink='/punto1form'>Cargar Libro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink='/punto2'>Conversor Monedas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink='/punto2list'>Transacciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink='/punto3'>Cargar un Pasaje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink='/punto3list'> Lista de Pasajes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
